<div class="ng-modal-window">
  <div class="ng-modal-inner">
    <div class="modal-header"><i class="icon-close" ng-click="modal.closeMe()"></i></div>

    <h3>{{ I18n.t('js.label_group_by') }}</h3>

    <div>
      <pre>Selected: {{selectedGroupByData | json}}</pre>
      <ui-select ng-model="selectedGroupByData" theme="select2" focus id="selected_columns_new">
        <ui-select-match>{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="column in groupableColumnsData | filter: { label: $select.search }">
          {{column.label}}
        </ui-select-choices>
      </ui-select>
    </div>
    <div>
      <button class="button -highlight" ng-click="updateGroupBy()">
        {{ I18n.t('js.modals.button_apply') }}
      </button>
      <button class="button" ng-click="modal.closeMe()">
        {{ I18n.t('js.modals.button_cancel') }}
      </button>
    </div>

  </div>
</div>
