<div class="ng-modal-window">
  <div class="ng-modal-inner modal-content">
    <div class="modal-header"><i class="icon-close" ng-click="modal.closeMe()"></i></div>

    <h3>{{ I18n.t('js.label_sorting') }}</h3>

    <form name="modalSortingForm">
      <div id="modal-sorting" class="modal-content-container">
        <div ng-repeat="element in sortElements">
          <ui-select ng-model="element[1]" focus="$first">
            <ui-select-match>{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="column in getRemainingAvailableColumnsData()">
            </ui-select-choices>
          </ui-select>

          <ui-select ng-model="element[1]" ng-required="element[0]" ng-disabled="!element[0]">
            <ui-select-match>{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="direction in availableDirectionsData">
              {{direction}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div>
        <button class="button -highlight"
                ng-disabled="modalSortingForm.$invalid"
                ng-click="updateSortation()">
          {{ I18n.t('js.modals.button_apply') }}
        </button>
        <button class="button" ng-click="modal.closeMe()">
          {{ I18n.t('js.modals.button_cancel') }}
        </button>
      </div>
    </form>

  </div>
</div>
